@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wiw{
    font-family: "Roboto";
}

.rir{
    font-family: "Raleway";
}

.gip{
    font-weight: 700;
}

.hig{
    font-weight: 500;
}

.ert{
    font-weight: 400;
}

:root{
    --bip:#2196F3;
    --dip:#212121;
    --kio:#757575;
    --vit:#FFF;
    --min:#2F303A;
    --pip:#F5F4FA;
    --tik:rgba(255, 255, 255, 0.60);
}




.dip{
    color: var(--dip);
}

.bip{
    color: var(--bip);
}

.kio{
    color: var(--kio);
}

header[data-numder = "rit"]{
    background-color: var(--vit);
}

.vit{
    color: var(--vit);
}

button[data-number = "pip"]{
    background-color: var(--pip);
}

main[data-number = "rit"]{
    background-color: var(--vit);
}

.tik{
    color: var(--tik);
}

footer[data-number = "min"]{
    background-color: var(--min);
}